.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.mt10 {
  margin-top: 10px;
}
.body {
  background-color: #fefefe;
}
.header {
  height: 64px;
  line-height: 64px;
  box-shadow: 0 2px 8px #f0f1f2;
}
.header-inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container {
  padding: 180px 16px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container .ant-row {
  background: #fff;
  box-shadow: 0 0.125rem 3.125rem 0 rgba(0, 0, 0, 0.05);
}
.login-form {
  padding: 36px 56px 48px;
  box-shadow: -1px 0.125rem 3.125rem 0 rgba(0, 0, 0, 0.05);
}
.footer {
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
